*
{
	box-sizing:border-box;
}

@font-face
{
	src: url(fonts/Elianto-Regular.ttf);
	font-family: Elianto;
}

.nav a
{
	font-size:20px;
	margin-top:10px;
	color:black !important;
}
 
 .navbar a:hover
{   color:#333333 !important;
    transform:translate(0px,-2px);}

.navbar-brand
 {
    color:#ffffff !important ;
    font-weight:bold;
    font-size:30px !important;
    margin:10px;
    font-family: 'Audiowide', cursive;
}



@media screen and (max-width: 600px)
{
	
	.nav li a:hover
{
   
	transform:translate(1px,0px);
	border-bottom:none;	
	color: #333333 !important;
}

.quote
{
	display:None;
}

.Explore
{
	max-height:200px;
}


	
}

.navbar
{   border:none;
	border-radius:0px !important;
	background-color:#0004 !important; /*transparent background*/
}

.navbar li
{   padding-left:10px;}

#main
{  background-image: url("bg1.jpg");
   background-size:cover;
   background-repeat:no-repeat;
   width:100%;
   height:100vh;
 }
 
 .quote{
	 text-align:center;
	 font-size:70px;
     padding-top:100px;
	font-family: 'Lobster', cursive;
	position:relative;
 }

#hyperlink
{
	top:85%;
	left:50%;
	position:absolute;
	font-size:50px;
	text-align:center;
	overflow:hidden;
}
 

.fa
{
	color:#404040;
	animation:animate 1.5s linear infinite;
	
}
@keyframes animate
{
	0%
	{transform:translateY(-50px);
     text-shadow:0 50px 0 #737373;	}
	20%
	{transform:translateY(0px);
     text-shadow:0 10px 0 #737373;	}
	40%
	{transform:translateY(0px);
     text-shadow:0 -10px 0 #737373;	}
	60%
	{transform:translateY(0px);
     text-shadow:0 0px 0 #737373;	}
	100%
	{transform:translateY(100px);
     text-shadow:0 -50px 0 #737373;	}
}

#next
{
	width:100%;
	height:auto;
	margin:0px;
	
	padding:50px;
	
}

#next h2
{
	text-align:center;
	font-size:35px;
	font-weight:bold;
	font-family:Elianto;
	letter-spacing:1px;
	
}

.p1
{
	text-align:center;
	padding-top:30px;
	font-size:18px;
	font-family:cursive;
}


/*svg part background*/
.parent
{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:350px;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(exploreus1.jpg);
	background-size:cover;
	
}

.child a
{
	
	top:50%;
	left :50%;
	transform:translate(-50%,-50%);
	position:absolute;
	width:220px;
	height:60px;
	line-height:60px;
    text-align:center;
	font-family:sans-serif;
	text-transform:uppercase;
	font-size:24px;
	letter-spacing:4px;
	color:#fff;
	text-decoration:None;
	font-weight:bold;
}

.child a:hover
{
	text-decoration:None;
	color:#fff;
}

.child a:visited
{
	text-decoration:None;
	color:#fff;
}




.child a svg, 
.child a svg rect
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	fill:transparent;
}

.child a svg rect
{
	stroke: #00e2ff;
	stroke-width:6;
	transition: 2s;
	stroke-dasharray:60 200;
	stroke-dashoffset:320;
}

.child a:hover svg rect
{
	stroke: #ff0;
	stroke-dasharray:200 60;
	stroke-dashoffset:0;
}

/* How it works */
.works h1
{
	text-align:center;
	font-size:35px;
	font-weight:bold;
	font-family:Elianto;
	letter-spacing:1px;
	margin-bottom:24px;
}

.works
{
	width:100%;
	height:auto;
	margin:0px;
	padding:50px;
	
}


.col-sm-4 h2
{
	/*text-align:center;*/
	font-size:20px;
	font-weight:bold;
	font-family: Elianto;
	letter-spacing:1px;
	color:#ff3c1a;
	
} 

.works h3
{
	font-weight:bold;
	font-size:18px;
	font-family:verdana;
}

.works p
{
	font-size:16px;
	font-family:cursive;
}
.col-sm-4
{
	margin:0px;
	padding:15px;
}

.works .glyphicon
{
	padding:10px;
}
